<%+header%>

<div class="main-content"><div class="info-box">


<div class="row">

	
	<div class="row-name">系统用户密码</div>
								<hr/>

	<div class="text-val">
		<div class="text-name">密码</div>
		<div class="value-value">

			<input class="textbox" type="password" id="pwd1"/>
		</div>
	</div>
	<div class="text-val">
		<div class="text-name">确认密码</div>
		<div class="value-value">

			<input class="textbox" type="password" id="pwd2"/>
		</div>
	</div>
	<div class="text-val">
		
		<div  id="apply">

			<input type="button" value="应用" onclick="sub()">
		</div>
	

		
	</div>

</div>

<div class="row">	
	<div class="row-name">系统重启</div>
								<hr/>	
	<div class="text-val">
		<div  id="reboot"><input type="button" value="立即重启" onclick="reboot()"></div>
		
	</div>

</div>

<div class="row">
	<form method="post" action="<%=luci.dispatcher.build_url("admin", "system","flashops")%>" enctype="multipart/form-data">
	<div class="row-name">刷写新固件</div>
								<hr/>

	
	<div class="text-val">
		<div class="text-name">保留配置</div>
		<div class="value-value">

			<input class="textbox" type="checkbox" id="keep" name="keep" checked="checked"/>
		</div>
	</div>
	
	<div class="text-val">
		<div class="text-name">固件文件</div>
		<div class="value-value" id="upload" style="width:300px">

			<input class="textbox" style="width:280px" type="file" id="image" name="image" accept=".bin,.zip"/>
			<input type="submit" value="上传">
		</div>
	</div>
</form>

</div>







<script>
function sub(){

	var apply_xhr = new XHR();
	var e=document.getElementById("apply");

	e.innerHTML="保存密码中。。。";
	apply_xhr.get('<%=luci.dispatcher.build_url("admin", "system","pwd")%>', {"pwd1":document.getElementById("pwd1").value,"pwd2":document.getElementById("pwd2").value},
		function(x){
		e.innerHTML=x.responseText;
		window.setTimeout(function(){e.innerHTML="<input type='button' value='应用' onclick='sub()'>";},1000);
		
		});
}

function reboot(){
	var apply_xhr = new XHR();
	var e=document.getElementById("reboot");

	e.innerHTML="请稍等:设备。。。";
	apply_xhr.get('<%=luci.dispatcher.build_url("admin", "system","reboot")%>', {"reboot":1},
		function(){	
		});
	window.setTimeout(function(){window.top.location='<%=controller%>/admin';},60000);
	


}



</script>

<%+footer%>
