.text-val{
	margin: 20px auto;
	text-align: center;
}
.cbi-input-error{
	border: 1px solid red !important;
}
.panel {
	border:none;
	box-shadow:none;
}
.form-control{
	width: 30%;
	border: 1px solid #66c6f2;
	border-radius: 5px;
	display: inline-block;
}
.form-control::-webkit-input-placeholder {
   color: #66c6f2;
}
input[type="radio"], input[type="checkbox"]{
	vertical-align: middle;
	margin-top: 0;
}
.text-name{
	width: 120px;
	display: inline-block;
	text-align: right;
	margin-right: 5px;
}
.wan .text-name,.lan .text-name{
	width: 100px;
}
.wan .pName{
	width: 145px;
}
.radio-box .cbi-input-radio{
	margin-left: 10px;
}
.sb input{
	background-color: #66c6f2;
	color: #fff;
	margin-left: 10px;
	width: 140px;
	height: 40px;
	border-radius: 5px;
}
.sb{
	margin-bottom: 10px;
	text-align: center;
}
.r-box h2 {
	font-size: 14px;
	font-weight: normal;
}
.system .btn{
	width: 90px;
	height: 35px;
	line-height: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"]{
	width: 90px;
	height: 35px;
	line-height: 0;
}
.system .row {
	margin-bottom: 15px;
}
.system .row-name{
	margin-top: 10px;
	font-size: 18px;
}
.system hr{
	margin-top: 0;
	margin-bottom: 0;
}
.system .apply{
	width: 348px;
	margin: 0 auto;
	text-align: left;
}
.system .apply input{
	margin-left: 67px;
}

/*===switch-bottonÑùÊ½µ÷Õû===*/
 .switch-off{
	width: 30px;
	height: 20px;
}
 .switch-off .slider{
	width: 15px;
	height: 18px;
}
 .switch-on{
	width: 30px;
	height: 20px;
}
 .switch-on .slider{
	width: 15px;
	height: 18px;
}
 .switch-on .slider {
	left: 15px;
}
/*===switch-bottonÑùÊ½µ÷Õûend===*/

.radio-box ul li{
	position: relative;
	float: left;
	margin-left: 35px;
}

input[type="radio"] {
	opacity: 0;
	filter:alpha(opacity=0); 
	display: inline-block;
}
.radio-box ul{
	vertical-align: top;
	display: inline-block;
}
.radio-box ul li label {
	cursor: pointer;
}
.radio-box ul li .spanbox{
	width: 15px;
	height: 15px;
	border: 1px solid #66c6f2;
	border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	position: absolute;
	z-index:2;
	left: 5px;
	top: 3px;
}

/*lanv页面*/
.port-box{
	width: 90px;
	display: inline-block;
	text-align: center;
}
.port-box select{
	width: 70px;
	padding: 0;
	margin-top: 5px;
	font-size: 13px
}