<%+cbi/valueheader%>

<script type="text/javascript">//<![CDATA[
var xmlhttp;
if (window.XMLHttpRequest){xmlhttp=new XMLHttpRequest();}
else{xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");}
xmlhttp.onreadystatechange=function()
{
if (xmlhttp.readyState==4 && xmlhttp.status==200)
{
	var arr = xmlhttp.responseText.split(" ");
	var tmpstr = "<select name=\"cbid.wxserver.wxauth.authiface\">";
	for (i=0; i<arr.length; i++)
	{
		tmpstr += "<option value=\"" + arr[i] + "\">" + arr[i] + "</option>";		
	}
	tmpstr += "</select>";
	
	var obj = document.getElementById("cbi-wxserver-wxauth-authiface");
	
	obj.innerHTML += tmpstr;
	
}
}
xmlhttp.open("GET","/luci-static/wiface",true);
xmlhttp.send();
</script>

<%+cbi/valuefooter%>
