<%#
 Licensed to the public under the Apache License 2.0.
-%>

<%
        local disp = require "luci.dispatcher"
        local request  = disp.context.path
        local category = request[1]
        local cattree  = category and disp.node(category)
        local node = disp.context.dispatched

        local function subtree(node, level)
                if not level then
                        level = 1
                end
                local childs = disp.node_childs(node)
                if #childs > 0 then
                        local selected_node
                        local i, v

                        for i, v in ipairs(childs) do
                                local nnode = node.nodes[v]
                                if nnode._menu_selected then
                                        selected_node = nnode
                                end
                        end
                        if level>1 then                      
%>
        </div>
       </div></div></div></div></div></div></div></div>
      </div>
<%
                        end                              
                        if selected_node then
                                subtree(selected_node, level + 1)
                        end
                end
        end
        if category then
                subtree(cattree)
        end
%>
      </div>
     </div>
    </div>
   </div>
   <div id="dkt_bottom" class="clearfix">Denmark | DKT A/S | Fanoevej 6 | DK-4060 Kirke Saaby | Denmark | e-mail: info@dktcomega.com | Phone: +45 4646 2626</div>
 </div>
</div>
</body>
</html>
